body {
    padding: 0px;
    background-color: white;
    height: auto;
    margin: 0px;
    height: 100%;
}

.navbar {
    padding: 0px;
    font-size: 16px;
}

.space-custom {
    padding-left: 200px;
}

.col-sm-12 {
    padding: 0px;
}

.bgcolor {
    background-color: dodgerblue;
}

.widthsearch {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

figure {
    border: solid 1px black;
    height: 420px;
    width: 100%;
}

.mt-8
{
    margin-top: 8%;
}
.heightimg {
    height: 65%;
    width: 100%;
    margin-bottom: 0px;
}

.heighttitle {
    height: 10%;
    background-color: #FD695F;
}

.review {
    height: 17%;
    padding-left: 10px;
    background-color: white;
}

.countreviews {
    height: 8%;
    padding-left: 10px;
    background-color: #EBEBEB;
    padding-top: 5px;
    padding-bottom: 5px;
}



.w-99{
    width: 99%;
}

.map {
    width: 90%;
    height: 350px;  
    margin-left:6%;
    margin-right:5%;
}
.body-content {
    background-color: white;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 8px 1px rgba(66, 68, 90, 1);
}
.form-control {
    border-radius: 14px 14px 14px 14px;
}
.radius {
    border-radius: 0px 14px 14px 0px;
    border-color: #FD695F;
    background-color: #FD695F;
}
.hello{
    height: 400px;
}
.fontsettings {
    font-size: 36px;
    font-weight: bold;
    color: #8B8B8B;
    margin-top: 5%;
}
.figurefoodbar{
    width: 100%;
    height: 136px;
    border: none;
}
.width-100 { /* Umożliwia ustalanie limitów wysokości oraz szerokości według rozmiarów ekranu */
    width: 100%;
    height: 100%;
    background-color: #E8E8E8;
}
.h-max{
   height: calc(100vh - 144px);
}
.popularnesettings {
    background-color: white;
    font-size: 55px;
    color: #FD695F;
    height: 105px;
    font-weight: bold;
}
.wys{
    height: 10%;
    width: 100%;
}
.greybar {
    height: 10px;
    background-color: #EBEBEB;
    width: 100%;
}
.login{
    height: 90%;
    overflow: hidden;
}
.register {
    height: 100%;
    overflow: hidden;
}
.login-info{
    margin-top: 25%;
}
.register-info{
    margin-top: 25%;
}
.h4title {
    color: #A9A9A9;
}
.loginbutton {
    background-color: #FD695F;
    color: white;
    width: 40%;
}

.registerbutton {
    margin-left: 25%;
    width: 40%;
    background-color: #FD695F;
    color: white;
}
/* LOGIN */
.login-container {
    position:absolute;
    top: 0;
    right: 15%;
}
/* FOOTER */
.footer {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    font-size: 17px;
}
.padding-footer {
    padding: 12px 0 6px 0;
}
.footer-list {
    list-style-type: none;
}
    .footer-list > li {
        padding: 2px 8px;
    }
.footer-section-name {
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #2b3035;
    /*padding-bottom: 8px;
    margin: 0 10% 8px 10%;
    border-bottom: 1px solid #E8E8E8;*/
}
/* FRONTPAGE */
.frontpage-searchbox-container {
    height: 128px;
    background-color: white;
    background-color: rgba(255,255,255,75%);
    border-radius: 64px;
    margin: 0 auto;
}
.frontpage-container {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 128px;
    top: 50%;
    margin-top: -64px;
}
.frontpage-image-container {
    width: 100%;
    height: 510px;
    max-height: 50%;
    background-image: url("/image/frontpage-image.jpg");
}
.frontpage-image-gradient {
    position: relative;
    width: 100%;
    height: 100%;
    background: none;
    background: linear-gradient(rgba(52,58,64,1), rgba(52,58,64,0) 50%);
}
.frontpage-welcome-text {
    font-size: 24px;
    font-weight: bold;
    text-align:center;
    color: #343a40;
    padding:0;
    margin:0;
}
@media only screen and (max-width: 768px) {
    .frontpage-searchbox-container {
        border-radius: 0px;
    }
}
/* SECTION */
.section-line {
    border-color: #707070;
    margin-top: 0;
}
.section-header {
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
    padding: 8px 24px;
    margin: 0;
}
/* --- --- */
.background-image-preserve-ratio {
    background-size: cover;
    background-position: center;
}
.full-screen {
    width:100%;
    height:100%;
}
.left-bullet-radius {
    border-radius: 1.5rem 0px 0px 1.5rem !important;
}
.right-bullet-radius {
    border-radius: 0px 1.5rem 1.5rem 0px !important;
    border-color: #343A40;
    background-color: #343A40;
}
.frontpage-popular-image-bg {
    width: 100%;
    background-image: url("/image/popular.png");
    background-size: cover;
}
.wid-100
{
    width: 100%;
}

.ml-15{
    margin-left: 15%;
}

.rowwidth{
    background-color: white;
    width: 70%;
    height: 100%;
    margin-left: 15%;
}
.popular{
    background-color: white;
}

.rembember{
    font-size: 16px;
}

/* do h1 */
.titleH1 {
    text-align: center;
    padding: 12px;
}

/* dane kontaktowe*/
.contactText {
    margin-left: 15%;
    font-size: 24px;
}

.responsiveIMG {
    width: 100%;
    height: 100%;
}

.aboutText {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 24px;
    font-family: Arial;
}

.questionBorder {
    font-size: 20px;
    padding: 10px;
    border: 2px solid blue;
}

@media screen and (max-width: 1200px) {
    .login {
        background-image: url("/image/login.png");
        background-size: cover;
    }
    .login-info{
        background-color: white;
        margin-bottom:15%;
        width: 2000px;
    }
    .rembember {
        font-size:13px;
    }
    .register {
        background-image: url("/image/register.png");
        background-size: cover;
        height: 100%;
    }

    .register-info {
        background-color: white;
        margin-bottom: 15%;
        width: 2000px;
    }
    .registerbutton{
        width: 70%;
    }
    .mt-8 {
        margin-top: 20%;
    }
}
@media screen and (max-width: 600px) {
    .mt-8 {
        margin-top: 30%;
    }
}