body {
    padding: 0px;
    background-color: #CEE1CD;
    height: auto;
    margin: 0px;
}

.navbar {
    padding: 0px;
    font-size: 22px;
}

.space-custom {
    padding-left: 200px;
}

.col-sm-12 {
    padding: 0px;
}

.bgcolor {
    background-color: dodgerblue;
}

.widthsearch {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

figure {
    border: solid 1px black;
    height: 420px;
    width: 100%;
}

.mt-8
{
    margin-top: 8%;
}
.heightimg {
    height: 65%;
    width: 100%;
    margin-bottom: 0px;
}

.heighttitle {
    height: 10%;
    background-color: #FD695F;
}

.review {
    height: 17%;
    padding-left: 10px;
    background-color: white;
}

.countreviews {
    height: 8%;
    padding-left: 10px;
    background-color: #EBEBEB;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}
.w-99{
    width: 99%;
}

.map {
    width: 90%;
    height: 350px;  
    margin-left:6%;
    margin-right:5%;
}
.body-content{
    background-color:white;
}
.form-control {
    border-radius: 14px 14px 14px 14px;
}
.radius {
    border-radius: 0px 14px 14px 0px;
    border-color: #FD695F;
    background-color: #FD695F;
}
.hello{
    height: 400px;
}
.fontsettings {
    font-size: 36px;
    font-weight: bold;
    color: #8B8B8B;
    margin-top: 5%;
}
.figurefoodbar{
    width: 100%;
    height: 136px;
    border: none;
}
.width-100{
    width: 100%;
    height: 100%;
}
.popularnesettings {
    background-color: white;
    font-size: 55px;
    color: #FD695F;
    height: 105px;
    font-weight: bold;
}
.wys{
    height: 10%;
    width: 100%;
}
.greybar {
    height: 10px;
    background-color: #EBEBEB;
    width: 100%;
}
.login{
    height: 90%;
    overflow: hidden;
}
.register {
    height: 100%;
    overflow: hidden;
}
.login-info{
    margin-top: 25%;
}
.register-info{
    margin-top: 25%;
}
.h4title {
    color: #A9A9A9;
}
.loginbutton {
    background-color: #FD695F;
    color: white;
    margin-left: 40%;
    margin-right: 30%;
    width: 40%;
}

.registerbutton {
    margin-left: 25%;
    width: 40%;
    background-color: #FD695F;
    color: white;
}
.frontpage-searchbox-container {
    /*width: 1200px;*/
    height: 300px;
    background-color: #F3F3F3;
    border-radius: 40px;
    margin: 0 auto;
    flex-direction: column;
}
.frontpage-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 480px;
    background-color: white;
}
.frontpage-image-container {
    width: 100%;
    height: calc(100vh - 76px);
    background-image: url("/image/frontpage-image.jpg");
}
.frontpage-welcome-text {
    font-size: 28px;
    font-weight: bold;
    color: #8b8b8b;
}
.rectangular-triangle-bottom-left {
    width: 100%;
    height: 0;
    border-bottom: 4vw solid white;
    border-left: 98vw solid transparent;
}
.rectangular-triangle-top-right {
    width: 100%;
    height: 0;
    border-top: 4vw solid white;
    border-right: 99vw solid transparent;
    margin-bottom: 100px;
}
.background-image-preserve-ratio {
    background-size: cover;
    background-position: center;
}
.full-screen {
    width:100%;
    height:100%;
}
.left-bullet-radius {
    border-radius: 1.5rem 0px 0px 1.5rem !important;
}
.right-bullet-radius {
    border-radius: 0px 1.5rem 1.5rem 0px !important;
    border-color: #FD695F;
    background-color: #FD695F;
}
.frontpage-popular-image-bg {
    width: 100%;
    height: calc(100vh - 76px);
    background-image: url("/image/popular.png");
    background-size: cover;
}
.wid-100
{
    width: 100%;
}

.rowwidth{
 background-color: white;
  width: 70%;
  height: 100%;
  margin-left: 15%;
}
.popular{
    background-color: white;
}

@media screen and (max-width: 1200px) {
    .login {
        background-image: url("/image/login.png");
        background-size: cover;
    }
    .login-info{
        background-color: white;
        margin-left: 25%;
        margin-bottom:15%;
    }
    .register {
        background-image: url("/image/register.png");
        background-size: cover;
        height: 100%;
    }

    .register-info {
        background-color: white;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 15%;
    }
    .registerbutton{
        width: 70%;
    }

}