body {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background-color: #E8E8E8;
}

body > .container {
    flex: 1 auto;
    padding-top:52px;
}

.navbar {
    padding: 0px;
    font-size: 16px;
}
#navbar-logo {
    top:4px;
    left:-4px;
    z-index:100;
}

.col-sm-12 {
    padding: 0px;
}

.bg-lightpaleblue {
    background-color: #E6F3FF !important;
}


figure {
    color: white;
    height: 420px;
    width: 100%;
    margin-bottom: 35px;
    border-radius: 2%;
    background-image: url("/image/popular-stars.jpg")
}


.heightimg {
    width: 12em;
    height: 12em;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-radius: 50%;
    border: 10px solid white;
}

.heighttitle {
    height: 10%;
    font-size: 20px;
    margin-bottom: 20px;
    background-image: url("/image/popular-stars.jpg")
}

.review {
    height: 17%;
    padding-left: 10px;
    background-image: url("/image/popular-stars.jpg")
}

.countreviews {
    height: 8%;
    padding-left: 10px;
    margin-top: 30px;
    background-image: url("/image/popular-stars.jpg");
    padding-top: 5px;
    padding-bottom: 5px;
}



.form-control {
    border-radius: 14px 14px 14px 14px;
}


.width-100 { /* Umożliwia ustalanie limitów wysokości oraz szerokości według rozmiarów ekranu */
    width: 100%;
    height: 100%;
    background-color: #E8E8E8;
}

.h-max {
    height: auto; /*calc(100vh - 144px);*/
}


.login {
    height: 90%;
    overflow: hidden;
}

.register {
    height: 100%;
    overflow: hidden;
}

.login-info {
    margin-top: 15%;
}

.register-info {
    margin-top: 5%;
}

.h4title {
    color: #A9A9A9;
}

.loginbutton {
    background-color: #FD695F;
    color: white;
    width: 40%;
}

.registerbutton {
    margin-left: 25%;
    width: 40%;
    background-color: #FD695F;
    color: white;
}

/* RATTING */
.star-rating {
    line-height: 32px;
    font-size: 1.25em;
    text-align: center;
    color: #d5a505;
    cursor: default;
}
input:focus {
    color: red;
}
.category {
    font-size: 20px;
}
.star-rating .fa-star {
    color: yellow;
    
}
.star-rating span{
    padding-left: 5px;
}
/* FOOTER */

.footer {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    font-size: 17px;
}

.padding-footer {
    padding: 12px 0 6px 0;
}

.footer-list {
    list-style-type: none;
}

    .footer-list > li {
        padding: 2px 8px;
    }

.footer-section-name {
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #2b3035;
    border-radius: 10px;
    /*padding-bottom: 8px;
    margin: 0 10% 8px 10%;
    border-bottom: 1px solid #E8E8E8;*/
}
/* FRONTPAGE */
.frontpage-searchbox-container {
    height: 128px;
    background-color: white;
    background-color: rgba(255,255,255,75%);
    border-radius: 64px;
    margin: 0 auto;
}


    .frontpage-container {
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;
        height: 128px;
        top: 50%;
        margin-top: -64px;
    }

.frontpage-image-container {
    width: 100%;
    height: 510px;
    max-height: 50%;
    background-image: url("/image/frontpage-image.jpg");
}

.frontpage-welcome-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #343a40;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .frontpage-searchbox-container {
        border-radius: 70px;
    }
}

.popular-bacground {

    background-color:white;
}


/* SECTION */
.section-line {
    border-color: #707070;
    margin-top: 0;
}

.text-yellow {
    color: #ffff00 !important;
    font-weight: bold;
}

.section-header {
    font-size: 24px;
    font-weight: bold;
    color: #212529;
    padding: 8px 24px;
    margin: 0;
}
/* --- --- */
.background-image-preserve-ratio {
    background-size: cover;
    background-position: center;
}

.left-bullet-radius {
    border-radius: 1.5rem 0px 0px 1.5rem !important;
}

.right-bullet-radius {
    border-radius: 0px 1.5rem 1.5rem 0px !important;
    border-color: #343A40;
    background-color: #343A40;
}

.ml-15 {
    margin-left: 15%;
}


.rembember {
    font-size: 16px;
}

/* do h1 */
.titleH1 {
    text-align: center;
    padding: 12px;
}

/* FAQ START */
.FAQ-header {
    font-size: 20px;
    font-weight: 400;
}
.FAQ-content {
    background-color: #E8E8E8;
    font-weight: lighter;
}
.FAQ-segment {
    border: 1px #E8E8E8 solid;
    padding: 12px;
}
/* FAQ END */

/* dane kontaktowe*/

.aboutText {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 24px;
    font-family: Arial;
}


/*social media START*/
.social-links {
    color: white;
    font-size: 36px;
    display: inline-block;
}

.social-links-fb:hover {
    color: #1877f2;
    border-radius: 50%;
    background-color: white;
}

.social-links-tw:hover {
    color: #00acee;
    border-radius: 50%;
    background-color: white;
}

.social-links-yt:hover {
    color: #FF0000;
    border-radius: 50%;
    background-color: white;
}

.social-links-ig:hover {
    border-radius: 50%;
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.social-links-ln:hover {
    color: #0072b1;
    border-radius: 50%;
    background-color: white;
}
/*social media END*/

.loading-div {
    padding: 10px;
    text-align: center;
    display: none;
}

.loading-spin {
    font-size: 55px;
    color: purple;
}

.loading-text {
    font-size: 24px;
    color: purple;
    font-weight: bold;
}

/* OAuth START*/
.OAuth-list {
    text-align: center;
}

.OAuth-Button-Google {
    background-color: #cb422f;
    font-size: 18px;
    color: white;
    width: 65%;
    margin-bottom: 3%;
    padding: 2%;
    border: solid #cb422f;
}

    .OAuth-Button-Google:hover {
        color: #cb422f;
        background-color: white;
    }

.OAuth-Button-Facebook {
    background-color: #1877f2;
    font-size: 18px;
    color: white;
    width: 65%;
    margin-bottom: 3%;
    padding: 2%;
    border: solid #1877f2;
}

    .OAuth-Button-Facebook:hover {
        color: #1877f2;
        background-color: white;
    }

.OAuth-Button-Twitter {
    background-color: #00acee;
    font-size: 18px;
    color: white;
    width: 65%;
    margin-bottom: 3%;
    padding: 2%;
    border: solid #00acee;
}

    .OAuth-Button-Twitter:hover {
        color: #00acee;
        background-color: white;
    }

/* OAuth END*/
.role-div {
    text-align: center;
}


.table-role {
    background-color: #007bff;
    color: white;
}

.select-list-role{
    font-size: 25px;
}

.select-list-title {
    color: white;
    font-size: 24px;
    background-color: #007bff;
    width: 95%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.button-save-role {
    margin-top: 5%;
    font-size: 24px;
}


/* Admin panel menu rozwijane START*/
#nav {
    position:relative;
    width:620px;
    margin:0 auto;
}

ul#navigation {
    margin: 0px auto;
    position: relative;
    float: left;
    border-left: 1px solid #CC424F;
    border-right: 1px solid #CC424F;
}
 
ul#navigation li {
    display:inline;
    font-size:12px;
    font-weight:bold;
    margin:0;
    padding:0;
    float:left;
    position:relative;
    border-top:1px solid #CC424F;
    border-bottom:2px solid #CC424F;
}
 
ul#navigation li a {
    padding:10px 25px;
    color: white;
    text-shadow:1px 1px 0px #EA6D7D;
    text-decoration:none;
    display:inline-block;
    border-right:1px solid #EA6D7D;
    border-left:1px solid #831E24;
    border-top:1px solid #EA6D7D;
    background: #D75561;
    font-size: 20px;

     
    -webkit-transition:color 0.2s linear, background 0.2s linear;    
    -moz-transition:color 0.2s linear, background 0.2s linear;    
    -o-transition:color 0.2s linear, background 0.2s linear;    
    transition:color 0.2s linear, background 0.2s linear;    
}
 
ul#navigation li a:hover {
    background:#f8f8f8;
    color:#282828;
}
 
ul#navigation li:hover > a {
    background:#EA6D7D;
}

ul#navigation li:hover > ul
{
    visibility:visible;
    opacity:1;
}
 
ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;    
    visibility:hidden;
    position: absolute;
    z-index: 99999;
    width:180px;
    background:#D75561;
    box-shadow:1px 1px 3px #D75561;
    opacity:0;
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear; 
    -o-transition:opacity 0.2s linear, visibility 0.2s linear; 
    transition:opacity 0.2s linear, visibility 0.2s linear;     
}
 
ul#navigation ul {
    top: 43px;
    left: 1px;
}
 
ul#navigation ul li ul {
    top: 0;
    left: 181px;
}
 
ul#navigation ul li {
    clear:both;
    width:100%;
    border:0 none;
    border-bottom:1px solid #831E24;
}
 
ul#navigation ul li a {
    background:none;
    padding:7px 15px;
    color: white;
    text-shadow:1px 1px 0px #EA6D7D;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    float:left;
    clear:both;
    width:150px;
}
 
ul#navigation li a.first {
    border-left: 0 none;
}
 
ul#navigation li a.last {
    border-right: 0 none;
}
/* Admin panel menu rozwijane END*/

@media screen and (max-width: 1200px) {
    .login {
        background-image: url("/image/login.png");
        background-size: cover;
    }

    .login-info {
        background-color: white;
        margin-bottom: 15%;
        width: 2000px;
    }

    .rembember {
        font-size: 13px;
    }

    .register {
        background-image: url("/image/register.png");
        background-size: cover;
        height: 100%;
    }

    .register-info {
        background-color: white;
        margin-bottom: 15%;
        width: 2000px;
    }

    .registerbutton {
        width: 70%;
    }

}


/* Przeglądaj START */

.sortowanie {
    background-color: #a5ffa782;
    /*padding-top: 10px; */
    padding-bottom: 10px;
    border: 0px solid black;
    border-radius: 25px;
    /* padding-left: 22px; */
}

.browse-image-wrapper {
    overflow: hidden;
    height: 250px;
    background-color: lightgray;
}

    .browse-image-wrapper > img {
        width: 100%;
        height: 100%;
        max-height: 250px;
        object-fit: cover;
        transition: 0.3s ease;
    }

.browse-card-anchor {
    cursor: pointer;
}

    .browse-card-anchor:hover img {
        transform: scale(1.2);
        transform-origin: 50% 50%;
    }

    .browse-card .card-title {
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-bottom: none;
    }

    .browse-card span {
        font-size: 0.9rem;
    }
/* Przeglądaj END */
/* DragAndDrop START */

.reset{
    background-color: cornflowerblue;
    border: none;
    color: white;
    width: 30%;
    margin-top: 15px;
    margin-left: 35%;
    margin-right: 40%;
}
.average {
    text-align:center;
    color: #f31721;
    font-weight: 600;
    font-size: 20px;
    padding-bottom:5px;
}
.drag-and-drop-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.drag-and-drop-preview {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid black;
    background: url(/image/AddFoto.png), rgb(43 48 53);
    background-repeat: no-repeat;
    background-position: center center;
    cursor:pointer;
}
.drag-and-drop-remove {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: white;
    background-color: black;
    padding: 2px;
    border-bottom-left-radius: 4px;
}
.drag-and-drop-preview-image, .drag-and-drop-preview-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    user-select: none;
}
.drag-and-drop-preview-main {
    border-radius: 0 !important;
}
.drag-and-drop-preview-miniature, .drag-and-drop-preview-miniature-add {
    width: 92px;
    height: 92px;
    border-radius: 6px;
    border: 2px solid;
    border-color: rgb(43 48 53);
    margin: 6px;
    background: rgb(43 48 53);
    object-fit: cover;
    float: left;
    transition: 0.1s ease;
    cursor: pointer;
}
    .drag-and-drop-preview-miniature:hover, .drag-and-drop-preview-miniature-add:hover {
        border-color: rgb(179 217 255);
    }
.drag-and-drop-preview-miniature-add {
    background: url(/image/Add.png), rgb(43 48 53);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
    .drag-and-drop-preview-miniature-add > label {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        cursor: pointer;
    }
.radio-button {
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 2px;
    transition: 0.1s ease;
}
    .radio-button input[type=radio] {
        opacity: 0;
        position: absolute;
        z-index: -999;
    }
.radio-button-mark {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}
input:checked + .radio-button-mark {
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}


/* DragAndDrop END */
/* Description START */
.opinion-details-header {
    font-weight: 500;
    line-height: 1.2;
    word-break: break-word;
}
.opinion-details-image-container {
    width: 100%;
    max-height: 50vh;
    height: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    background: rgb(43 48 53);
    background-repeat: no-repeat;
    background-position: center center;
}
/* Description END */
/* LayoutWide START */
.container-wide {
    width: 100%;
    max-width: 1440px;
    padding-top: 52px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
body > .container-wide {
    flex: 1 auto;
}
@media (min-width: 768px) {
    .container-wide {
        max-width: 748px;
    }
}
@media (min-width: 992px) {
    .container-wide {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container-wide {
        max-width: 1172px;
    }
}
@media (min-width: 1480px) {
    .container-wide {
        max-width: 1440px;
    }
}
/* LayoutWide END */