body {
    padding: 0px;
    background-color: #CEE1CD;
    height:1080px;
    margin: 0px;
}
.navbar{
    padding: 0px;
    font-size: 22px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.space-custom{
    padding-left: 200px;
}
