@if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div>
        <nav id="nav">
            <ul id="navigation">
                <li>
                    <a href="#">Admin Panel &raquo;</a>
                    <ul>
                        <li>
                            <a href="#">Role</a>
                            <ul>
                                <li>@Html.ActionLink("Menu roli", "Index", "Role")</li>
                                <li>@Html.ActionLink("Dodaj rolę", "Create", "Role")</li>
                                <li>@Html.ActionLink("Przypisz rolę", "RegisterRole", "Account")</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
}
