<footer class="footer bg-dark text-white">
    <div class="footer-copyright text-center container">
        <div class="row padding-footer">
            <ul class="col-md m-2 footer-list rounded text-center">
                <li class="footer-section-name mb-2">Wsparcie</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home", null, new { style = "color:white" })</li>
            </ul>
            <div class="footerbar d-none d-md-block"></div>
            <ul class="col-md m-2 footer-list rounded text-ceneter">
                <li class="footer-section-name mb-2">Informacje</li>
                <li>@Html.ActionLink("Często zadawane pytania", "FAQ", "Home", null, new { style = "color:white" })</li>
                <li>@Html.ActionLink("O Nas", "About", "Home", null, new { style = "color:white" })</li>
                <li>@Html.ActionLink("Regulamin", "Policies", "Home", null, new { style = "color:white" })</li>
            </ul>
        </div>
    </div>
</footer>