<div class="loading-div" id="loadingSpin">
    <i class="icon-spin6 animate-spin loading-spin"></i>
    <p class="loading-text">Przetwarzam żądanie...</p>
</div>

<script type="text/javascript">
    function Loading(e) {
        $("#loadingSpin").show();
        return true;
    }
</script>