<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div style="padding:0 6px 0 100px; min-height:54px;" class="container position-relative">
        <a id="navbar-logo" class="navbar-brand pt-0 pb-0 position-absolute rounded-circle bg-dark" href="@Url.Action("Index", "Home")">
            <img src="~/image/logo_czydobre.png" width="100" height="100">
        </a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto custom-navbar-links" style="margin-block-start: 0;">
                <li class="nav-item pr-2 mr-2 active">
                    @Html.ActionLink("Przeglądaj", "Opinion", "Home", null, new { style = "color:white" })
                </li>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item pr-2 mr-2 active">
                            @Html.ActionLink("Losuj", "GetDish", "Home", null, new { style = "color:white" })
                        </li>
                    }
                }
            </ul>
            <ul class="navbar-nav mr-right" style="margin-block-start: 0;">
                <li class="nav-item">
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>
        </div>
    </div>
</nav>