<footer class="footer bg-dark text-white">
    <div class="footer-copyright text-center container">
        <div class="row padding-footer">
            <ul class="col-md m-2 footer-list rounded text-center">
                <li class="footer-section-name mb-2">Media społecznościowe</li>
                <li>
                    <a class="icon-facebook-rect" href="https://www.facebook.com/CzyDobrepl-104246902031591" target="_blank" title="Facebook" style="color: white"></a>
                    <a class="icon-twitter-bird" href="https://twitter.com/CzyDobre" target="_blank" title="Twitter" style="color: white"></a>
                    <a class="icon-youtube" href="https://www.youtube.com/CzyDobre" target="_blank" title="YouTube" style="color: white"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>