<footer class="footer bg-dark text-white">
    <div class="footer-copyright text-center container">
        <div class="row padding-footer">
            <ul class="col-md m-2 footer-list rounded text-center">
                <li class="footer-section-name mb-2">Media społecznościowe</li>
                <li class="social-links"> 
                    <a class="icon-facebook-rect social-links social-links-fb" href="https://www.facebook.com/CzyDobrepl-104246902031591" target="_blank" title="Facebook"></a>
                    <a class="icon-twitter social-links social-links-tw" href="https://twitter.com/CzyDobre" target="_blank" title="Twitter"></a>
                    <a class="icon-youtube-play social-links social-links-yt" href="https://www.youtube.com/channel/UCP1-w-Gh49dIVV9W-4JosiA" target="_blank" title="YouTube"></a>
                    <a class="icon-instagram social-links social-links-ig" href="https://www.instagram.com/czydobre/" target="_blank" title="Instagram"></a>
                    <a class="icon-linkedin-rect social-links social-links-ln" href="https://www.linkedin.com/in/czy-dobre-4a6590223/" target="_blank" title="LinkedIn"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>