@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Zablokowano";
}

<div class="mt-5 row justify-content-center">
    <img width="256" height="256" class="rounded-circle" src="~/image/lock.png" />
</div>

<hgroup class="mt-2 text-center">
    <h1 class="text-danger">Zablokowano.</h1>
    <p class="text-danger">Konto, do którego chcesz się zalogować jest obecnie zablokowane.<br />Spróbuj ponownie później.</p>
</hgroup>
