@{
    ViewBag.Title = "Potwierdź adres e-mail";
}

<h1 class="titleH1">@ViewBag.Title.</h1>
<div>
    <p>
        Dziękujemy za potwierdzenie adresu e-mail. @Html.ActionLink("Kliknij tutaj, aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
