@{
    ViewBag.Title = "O nas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12  h-max">
        <h1 class="titleH1">@ViewBag.Title</h1>
        <div>
            <p class="aboutText">
                Jesteśmy studentami Uniwersytetu im. Adama Mickiewicza w Poznaniu,
                którzy w ramach projektu inżynierskiego przygotowujemy stronę internetową o tematyce kulinarnej.
                Naszym celem jest stworzenie strony na której będą pojawiały się
                <b> rzetelne </b> opinie odzwierciedlające jakość, smak oraz wygląd potraw. Również chcemy dać możliwość
                właścicielom restauracji na umieszczenie informacji o swoim lokalu, menu na naszej stronie. 🔥
                <br /><br />
                W końcu nikt z nas nie lubi kiedy wybrany przez nas posiłek, jest niezadowalający. 😄
            </p>
        </div>
    </div>
</div>