@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12 h-max">

        <h1 class="titleH1">@ViewBag.Title</h1>
        <hr />
        <h1 class="titleH1"> ⏰ JUŻ WKRÓTCE ⏰</h1>
        <hr />
        <div style="text-align: center; padding: 3%">
            <img src="~/image/kontakt.png" alt="Pergamin z piórem" class="responsiveIMG" />
        </div>
    </div>
</div> 