@{
    ViewBag.Title = "Kontakt";
}
<div class="row">
    <div class="col-12 h-max">

        <h1 class="titleH1">@ViewBag.Title</h1>
        <div class="contactText">
            <address>
                <strong>Wsparcie:</strong> <a href="mailto:kontakt@czydobre.pl">kontakt@czydobre.pl</a><br />
                <strong>Reklama:</strong> <a href="mailto:reklama@czydobre.pl">reklama@czydobre.pl</a>
            </address>
        </div>
        <div style="text-align: center; padding: 10%">
            <img src="~/image/kontakt.png" alt="Pergamin z piórem" class="responsiveIMG" />
        </div>
    </div>
</div> 