@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nadnotecki Instytut UAM w Pile<br />
    Kołobrzeska 15, 64-920 Piła<br />
    Numer kontaktowy: +48 61 829 34 51<br />
    E-mail: <a href="mailto:pila@amu.edu.pl">pila@amu.edu.pl</a>
</address>


<address>
    <strong>Wsparcie:</strong> <a href="mailto:kontakt@czydobre.pl">kontakt@czydobre.pl</a><br />
    <strong>Reklama:</strong> <a href="mailto:reklama@czydobre.pl">reklama@czydobre.pl</a>
</address>