@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_FrontpageLayout.cshtml";
}

<div class="row full-screen mr-0 ml-0">
    <div class="col-sm-12 mt-8">
        <div class="rectangular-triangle-bottom-left"></div>
        <div class="frontpage-container">
            <div class="frontpage-searchbox-container col-lg-8 d-flex align-items-center justify-content-center">
                <p class="frontpage-welcome-text">Witamy na CzyDobre.pl!</p>
                <div class="w-100 my-3">
                    <form id="search-form" action="/Home/Results" class="input-group-lg input-group mx-auto col-sm-10 col-md-10 col-lg-8 col-xl-6">
                        <input type="search" class="form-control left-bullet-radius" placeholder="Wyszukaj..." aria-label="Search"
                               aria-describedby="search-addon" />
                        <button type="button" onclick="location.href='/Home/Results'" class="btn btn-lg fa fa-search text-white right-bullet-radius"></button>
                    </form>
                </div>
                <p>Wypróbuj: Kebab, Spaghetti, Pizza!</p>
            </div>
        </div>
        <div class="rectangular-triangle-top-right"></div>
    </div>
</div>
<div class="row wid-100 ml-0">
    <div class="col-12 mt-0 mb-0 pt-1 text-center popularnesettings">
        Popularne
    </div>
</div>
<div class="mt-0 mb-5 mr-0 ml-0 frontpage-popular-image-bg full-screen">
<div class="row rowwidth">
    <div class="col-3 mt-5 popular">
        <figure class="figure">
            <img src="~/image/kebab.jpg" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
            <div class="text-center heighttitle pt-2 text-white">
                TYTUŁ
            </div>
            <div class="review">
                Smak: 4<br>
                Obsługa: 3<br>
                Cena: 4
            </div>
            <div class="countreviews text-center">
                Oceniło 10 użytkowników
            </div>
        </figure>
    </div>
    <div class="col-3 mt-5 popular">
        <figure class="figure">
            <img src="~/image/zapiekanka.jpg" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
            <div class="text-center heighttitle pt-2 text-white">
                TYTUŁ
            </div>
            <div class="review">
                Smak: 3<br>
                Obsługa: 4<br>
                Cena: 2
            </div>
            <div class="countreviews text-center">
                Oceniło 10 użytkowników
            </div>
        </figure>
    </div>
    <div class="col-3 mt-5 popular">
        <figure class="figure">
            <img src="~/image/lody.jpeg" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
            <div class="text-center heighttitle pt-2 text-white">
                TYTUŁ
            </div>
            <div class="review">
                Smak: 4,5<br>
                Obsługa: 5<br>
                Cena: 4
            </div>
            <div class="countreviews text-center">
                Oceniło 10 użytkowników
            </div>
        </figure>
    </div>
    <div class="col-3 mt-5 popular">
        <figure class="figure">
            <img src="~/image/hamburger.jpeg" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
            <div class="text-center heighttitle pt-2 text-white">
                TYTUŁ
            </div>
            <div class="review">
                Smak: 5 <br>
                Obsługa: 4 <br>
                Cena: 4
            </div>
            <div class="countreviews text-center">
                Oceniło 10 użytkowników
            </div>
        </figure>
    </div>
</div>
</div>
