@{
    ViewBag.Title = "Home Page";
}

<div class="row hello">
    <div class="col-12">
        <p class="text-center fontsettings">Witamy na CzyDobre.pl</p>
    </div>
    <div class="col-sm-12">
        <div class="input-group widthsearch">
            <input type="search" class="form-control" placeholder="Podaj lokalizację..." aria-label="Search"
                   aria-describedby="search-addon" />
            <button type="button" class="btn fa fa-search text-white radius"></button>
        </div>
    </div>
    <div class="col-12 pl-0 pr-0 wys mb-0 mt-2">
        <figure class="figurefoodbar pl-0 pr-0">
            <img src="~/image/foodbar.jpg" alt="Alternate Text" class="width-100 ml-0 mr-0" />
        </figure>
    </div>
    <div class="col-12 greybar mt-5">
    </div>
    <div class="col-12 mt-2 mb-2 pt-1 text-center popularnesettings">
        Popularne
    </div>
</div>
<div class="row mt-2 mb-5">
    <div class="col-6 col-lg-3">
        <figure class="figure">
            <img src="~/image/placeholderimg.png" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
            <div class="text-center heighttitle pt-2 text-white">
                TYTUŁ
            </div>
            <div class="review">
                Smak:<br>
                Obsługa:<br>
                Cena:
            </div>
            <div class="countreviews text-center">
                Oceniło 10 użytkowników
            </div>
        </figure>
    </div>
    <div class="col-6 col-lg-3">
        <figure class="figure">
            <img src="~/image/placeholderimg.png" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
            <div class="text-center heighttitle pt-2 text-white">
                TYTUŁ
            </div>
            <div class="review">
                Smak:<br>
                Obsługa:<br>
                Cena:
            </div>
            <div class="countreviews text-center">
                Oceniło 10 użytkowników
            </div>
        </figure>
    </div>
    <div class="col-6 col-lg-3">
        <figure class="figure">
            <img src="~/image/placeholderimg.png" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
            <div class="text-center heighttitle pt-2 text-white">
                TYTUŁ
            </div>
            <div class="review">
                Smak:<br>
                Obsługa:<br>
                Cena:
            </div>
            <div class="countreviews text-center">
                Oceniło 10 użytkowników
            </div>
        </figure>
    </div>
    <div class="col-6 col-lg-3">
        <figure class="figure">
            <img src="~/image/placeholderimg.png" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
            <div class="text-center heighttitle pt-2 text-white">
                TYTUŁ
            </div>
            <div class="review">
                Smak: <br>
                Obsługa: <br>
                Cena:
            </div>
            <div class="countreviews text-center">
                Oceniło 10 użytkowników
            </div>
        </figure>
    </div>
</div>
<div class="row mt-2">
    <div class="col-sm-12 mb-5">
        <div>
<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22762.74529443785!2d16.72699147964902!3d53.15257551390639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTPCsDA5JzA0LjEiTiAxNsKwNDQnMTYuOSJF!5e0!3m2!1spl!2spl!4v1619356863076!5m2!1spl!2spl"></iframe>
        </div>
    </div>
</div>

