@{
    ViewBag.Title = "Sprawdź Czy Dobre!";
    Layout = "~/Views/Shared/_FrontpageLayout.cshtml";
}
<div class="body-content container">
    <p class="section-header">Popularne</p>
    <hr class="section-line">
    @Html.Partial("_Notifications")
    <br />
</div>