@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_FrontpageLayout.cshtml";
}

<div class="row wid-100 ml-0">
    <div class="col-12 mt-0 mb-0 pt-1 text-center popularnesettings">
        Popularne
    </div>
</div>
<div class="mt-0 mb-0 mr-0 ml-0 frontpage-popular-image-bg full-screen">
<div class="row rowwidth">
    <div class="col-3 mt-5 popular">
        <figure class="figure">
            <img src="~/image/kebab.jpg" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
            <div class="text-center heighttitle pt-2 text-white">
                TYTUŁ
            </div>
            <div class="review">
                Smak: 4<br>
                Obsługa: 3<br>
                Cena: 4
            </div>
            <div class="countreviews text-center">
                Oceniło 10 użytkowników
            </div>
        </figure>
    </div>
    <div class="col-3 mt-5 popular">
        <figure class="figure">
            <img src="~/image/zapiekanka.jpg" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
            <div class="text-center heighttitle pt-2 text-white">
                TYTUŁ
            </div>
            <div class="review">
                Smak: 3<br>
                Obsługa: 4<br>
                Cena: 2
            </div>
            <div class="countreviews text-center">
                Oceniło 10 użytkowników
            </div>
        </figure>
    </div>
    <div class="col-3 mt-5 popular">
        <figure class="figure">
            <img src="~/image/lody.jpeg" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
            <div class="text-center heighttitle pt-2 text-white">
                TYTUŁ
            </div>
            <div class="review">
                Smak: 4,5<br>
                Obsługa: 5<br>
                Cena: 4
            </div>
            <div class="countreviews text-center">
                Oceniło 10 użytkowników
            </div>
        </figure>
    </div>
    <div class="col-3 mt-5 popular">
        <figure class="figure">
            <img src="~/image/hamburger.jpeg" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
            <div class="text-center heighttitle pt-2 text-white">
                TYTUŁ
            </div>
            <div class="review">
                Smak: 5 <br>
                Obsługa: 4 <br>
                Cena: 4
            </div>
            <div class="countreviews text-center">
                Oceniło 10 użytkowników
            </div>
        </figure>
    </div>
</div>
</div>
