@{
    ViewBag.Title = "Sprawdź Czy Dobre!";
    Layout = "~/Views/Shared/_FrontpageLayout.cshtml";
}
<div class="body-content container">
    <p class="section-header">Popularne</p>
    <hr class="section-line">
    <div class="mt-0 mb-0 mr-0 ml-0 d-sm-none ">
        <div class="row d-sm-none pt-5 ml-0 mr-0">
            <div class="col-1"></div>
            <div class="col-10">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <figure class="figure">
                                <img src="~/image/kebab.jpg" class="figure-img img-fluid  heightimg" alt="kebs" />
                                <div class="text-center heighttitle pt-2 text-white">
                                    Kebab
                                </div>
                                <div class="review">
                                    <div class="row">
                                        <div class="col-3 category">Smak: </div>
                                        <div class="star-rating col-9">
                                            <span class="fa fa-star" data-rating="1"></span>
                                            <span class="fa fa-star" data-rating="2"></span>
                                            <span class="fa fa-star" data-rating="3"></span>
                                            <span class="fa fa-star" data-rating="4"></span>
                                            <span class="fa fa-star" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 category">Obsługa: </div>
                                        <div class="star-rating col-9">
                                            <span class="fa fa-star" data-rating="1"></span>
                                            <span class="fa fa-star" data-rating="2"></span>
                                            <span class="fa fa-star" data-rating="3"></span>
                                            <span class="fa fa-star" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 category">Cena: </div>
                                        <div class="star-rating col-9">
                                            <span class="fa fa-star" data-rating="1"></span>
                                            <span class="fa fa-star" data-rating="2"></span>
                                            <span class="fa fa-star" data-rating="3"></span>
                                            <span class="fa fa-star" data-rating="4"></span>
                                            <span class="fa fa-star" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                                <div class="countreviews text-center">
                                    36  <img src="~/image/icon.png" class="figure-img img-fluid icon" alt="like" />
                                </div>
                            </figure>
                        </div>
                        <div class="carousel-item">
                            <figure class="figure">
                                <img src="~/image/zapiekanka.jpg" class="figure-img img-fluid  heightimg" alt="zapieksa" />
                                <div class="text-center heighttitle pt-2 text-white">
                                    Zapiekanka
                                </div>
                                <div class="review">
                                    <div class="row">
                                        <div class="col-3 category">Smak: </div>
                                        <div class="star-rating col-9">
                                            <span class="fa fa-star" data-rating="1"></span>
                                            <span class="fa fa-star" data-rating="2"></span>
                                            <span class="fa fa-star" data-rating="3"></span>
                                            <span class="fa fa-star" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 category">Obsługa: </div>
                                        <div class="star-rating col-9">
                                            <span class="fa fa-star" data-rating="1"></span>
                                            <span class="fa fa-star" data-rating="2"></span>
                                            <span class="fa fa-star" data-rating="3"></span>
                                            <span class="fa fa-star" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 category">Cena: </div>
                                        <div class="star-rating col-9">
                                            <span class="fa fa-star" data-rating="1"></span>
                                            <span class="fa fa-star" data-rating="2"></span>
                                            <span class="fa fa-star" data-rating="3"></span>
                                            <span class="fa fa-star" data-rating="4"></span>
                                            <span class="fa fa-star" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                                <div class="countreviews text-center">
                                    23  <img src="~/image/icon.png" class="figure-img img-fluid icon" alt="like" />
                                </div>
                            </figure>
                        </div>
                        <div class="carousel-item">
                            <figure class="figure">
                                <img src="~/image/lody.jpeg" class="figure-img img-fluid  heightimg" alt="lod" />
                                <div class="text-center heighttitle pt-2 text-white">
                                    Lody
                                </div>
                                <div class="review">
                                    <div class="row">
                                        <div class="col-3 category">Smak: </div>
                                        <div class="star-rating col-9">
                                            <span class="fa fa-star" data-rating="1"></span>
                                            <span class="fa fa-star" data-rating="2"></span>
                                            <span class="fa fa-star" data-rating="3"></span>
                                            <span class="fa fa-star" data-rating="4"></span>
                                            <span class="fa fa-star" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 category">Obsługa: </div>
                                        <div class="star-rating col-9">
                                            <span class="fa fa-star" data-rating="1"></span>
                                            <span class="fa fa-star" data-rating="2"></span>
                                            <span class="fa fa-star" data-rating="3"></span>
                                            <span class="fa fa-star" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 category">Cena: </div>
                                        <div class="star-rating col-9">
                                            <span class="fa fa-star" data-rating="1"></span>
                                            <span class="fa fa-star" data-rating="2"></span>
                                            <span class="fa fa-star" data-rating="3"></span>
                                            <span class="fa fa-star" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                                <div class="countreviews text-center">
                                    16  <img src="~/image/icon.png" class="figure-img img-fluid icon" alt="like" />
                                </div>
                            </figure>
                        </div>
                        <div class="carousel-item">
                            <figure class="figure">
                                <img src="~/image/hamburger.jpeg" class="figure-img img-fluid  heightimg" alt="burger" />
                                <div class="text-center heighttitle pt-2 text-white">
                                    Cheeseburger
                                </div>
                                <div class="review">
                                    <div class="row">
                                        <div class="col-3 category">Smak: </div>
                                        <div class="star-rating col-9">
                                            <span class="fa fa-star" data-rating="1"></span>
                                            <span class="fa fa-star" data-rating="2"></span>
                                            <span class="fa fa-star" data-rating="3"></span>
                                            <span class="fa fa-star" data-rating="4"></span>
                                            <span class="fa fa-star" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 category">Obsługa: </div>
                                        <div class="star-rating col-9">
                                            <span class="fa fa-star" data-rating="1"></span>
                                            <span class="fa fa-star" data-rating="2"></span>
                                            <span class="fa fa-star" data-rating="3"></span>
                                            <span class="fa fa-star" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 category">Cena: </div>
                                        <div class="star-rating col-9">
                                            <span class="fa fa-star" data-rating="1"></span>
                                            <span class="fa fa-star" data-rating="2"></span>
                                            <span class="fa fa-star" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                                <div class="countreviews text-center">
                                    12  <img src="~/image/icon.png" class="figure-img img-fluid icon" alt="like" />
                                </div>
                            </figure>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="d-none d-sm-block popular-bacground text-white">
        <div class="row">
            <div class="col-6 col-lg-3 mt-5">
                <figure class="figure">
                    <img src="~/image/kebab.jpg" class="figure-img img-fluid  heightimg" alt="kebs" />
                    <div class="text-center heighttitle pt-2 text-white">
                        Kebab
                    </div>
                    <div class="review">
                        <div class="row">
                            <div class="col-3 category">Smak: </div>
                            <div class="star-rating col-9">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star" data-rating="2"></span>
                                <span class="fa fa-star" data-rating="3"></span>
                                <span class="fa fa-star" data-rating="4"></span>
                                <span class="fa fa-star" data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 category">Obsługa: </div>
                            <div class="star-rating col-9">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star" data-rating="2"></span>
                                <span class="fa fa-star" data-rating="3"></span>
                                <span class="fa fa-star" data-rating="4"></span>
                                <span class="fa fa-star-o" data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 category">Cena: </div>
                            <div class="star-rating col-9">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star" data-rating="2"></span>
                                <span class="fa fa-star" data-rating="3"></span>
                                <span class="fa fa-star" data-rating="4"></span>
                                <span class="fa fa-star" data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                            </div>
                        </div>
                    </div>
                    <div class="countreviews text-center">
                        36  <img src="~/image/icon.png" class="figure-img img-fluid icon" alt="like" />
                    </div>
                </figure>
            </div>
            <div class="col-6 col-lg-3 mt-5 popular">
                <figure class="figure">
                    <img src="~/image/zapiekanka.jpg" class="figure-img img-fluid  heightimg" alt="zapieksa" />
                    <div class="text-center heighttitle pt-2 text-white">
                        Zapiekanka
                    </div>
                    <div class="review">
                        <div class="row">
                            <div class="col-3 category">Smak: </div>
                            <div class="star-rating col-9">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star" data-rating="2"></span>
                                <span class="fa fa-star" data-rating="3"></span>
                                <span class="fa fa-star" data-rating="4"></span>
                                <span class="fa fa-star-o" data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 category">Obsługa: </div>
                            <div class="star-rating col-9">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star" data-rating="2"></span>
                                <span class="fa fa-star" data-rating="3"></span>
                                <span class="fa fa-star" data-rating="4"></span>
                                <span class="fa fa-star-o" data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 category">Cena: </div>
                            <div class="star-rating col-9">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star" data-rating="2"></span>
                                <span class="fa fa-star" data-rating="3"></span>
                                <span class="fa fa-star" data-rating="4"></span>
                                <span class="fa fa-star" data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                            </div>
                        </div>
                    </div>
                    <div class="countreviews text-center">
                        23  <img src="~/image/icon.png" class="figure-img img-fluid icon" alt="like" />
                    </div>
                </figure>
            </div>
            <div class="col-6 col-lg-3 mt-5 popular">
                <figure class="figure">
                    <img src="~/image/lody.jpeg" class="figure-img img-fluid  heightimg" alt="lod" />
                    <div class="text-center heighttitle pt-2 text-white">
                        Lody
                    </div>
                    <div class="review">
                        <div class="row">
                            <div class="col-3 category">Smak: </div>
                            <div class="star-rating col-9">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star" data-rating="2"></span>
                                <span class="fa fa-star" data-rating="3"></span>
                                <span class="fa fa-star" data-rating="4"></span>
                                <span class="fa fa-star" data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 category">Obsługa: </div>
                            <div class="star-rating col-9">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star" data-rating="2"></span>
                                <span class="fa fa-star" data-rating="3"></span>
                                <span class="fa fa-star" data-rating="4"></span>
                                <span class="fa fa-star-o" data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 category">Cena: </div>
                            <div class="star-rating col-9">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star" data-rating="2"></span>
                                <span class="fa fa-star" data-rating="3"></span>
                                <span class="fa fa-star" data-rating="4"></span>
                                <span class="fa fa-star-o" data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                            </div>
                        </div>
                    </div>
                    <div class="countreviews text-center">
                        16  <img src="~/image/icon.png" class="figure-img img-fluid icon" alt="like" />
                    </div>
                </figure>
            </div>
            <div class="col-6 col-lg-3 mt-5 popular">
                <figure class="figure">
                    <img src="~/image/hamburger.jpeg" class="figure-img img-fluid  heightimg" alt="burger" />
                    <div class="text-center heighttitle pt-2 text-white">
                        Cheeseburger
                    </div>
                    <div class="review">
                        <div class="row">
                            <div class="col-3 category">Smak: </div>
                            <div class="star-rating col-9">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star" data-rating="2"></span>
                                <span class="fa fa-star" data-rating="3"></span>
                                <span class="fa fa-star" data-rating="4"></span>
                                <span class="fa fa-star" data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 category">Obsługa: </div>
                            <div class="star-rating col-9">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star" data-rating="2"></span>
                                <span class="fa fa-star" data-rating="3"></span>
                                <span class="fa fa-star" data-rating="4"></span>
                                <span class="fa fa-star-o" data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 category">Cena: </div>
                            <div class="star-rating col-9">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star" data-rating="2"></span>
                                <span class="fa fa-star" data-rating="3"></span>
                                <span class="fa fa-star-o" data-rating="4"></span>
                                <span class="fa fa-star-o" data-rating="5"></span>
                                <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                            </div>
                        </div>
                    </div>
                    <div class="countreviews text-center">
                        12  <img src="~/image/icon.png" class="figure-img img-fluid icon" alt="like" />
                    </div>
                </figure>
            </div>
        </div>
    </div>

</div>