@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_FrontpageLayout.cshtml";
}

<div>
    <div class="rectangular-triangle-bottom-left"></div>
    <div class="frontpage-container">
        <div class="frontpage-searchbox-container col-lg-8 d-flex align-items-center justify-content-center">
            <p class="frontpage-welcome-text">Witamy na CzyDobre.pl!</p>
            <div class="w-100 my-3">
                <form id="search-form" action="/Home/Results" class="input-group-lg input-group mx-auto col-sm-10 col-md-10 col-lg-8 col-xl-6">
                    <input type="search" class="form-control left-bullet-radius" placeholder="Wyszukaj..." aria-label="Search"
                           aria-describedby="search-addon" />
                    <button type="button" onclick="location.href='/Home/Results'" class="btn btn-lg fa fa-search text-white right-bullet-radius"></button>
                </form>
            </div>
            <p>Wypróbuj: Kebab, Spaghetti, Pizza!</p>
        </div>
    </div>
    <div class="rectangular-triangle-top-right"></div>
</div>