@{
    ViewBag.Title = "Sprawdź Czy Dobre!";
    Layout = "~/Views/Shared/_FrontpageLayout.cshtml";
}
<div class="body-content container">
    <p class="section-header">Popularne</p>
    <hr class="section-line">
    <div class="mt-0 mb-0 mr-0 ml-0 d-sm-none ">
        <div class="row d-sm-none pt-5 ml-0 mr-0">
            <div class="col-1"></div>
            <div class="col-10">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <figure class="figure">
                                <img src="~/image/kebab.jpg" class="d-block w-100 figure-img rounded heightimg" alt="First slide" />
                                <div class="text-center heighttitle pt-2 text-white">
                                    TYTUŁ
                                </div>
                                <div class="review">
                                    Smak: 4<br>
                                    Obsługa: 3<br>
                                    Cena: 4
                                </div>
                                <div class="countreviews text-center">
                                    Oceniło 10 użytkowników
                                </div>
                            </figure>
                        </div>
                        <div class="carousel-item">
                            <figure class="figure">
                                <img src="~/image/zapiekanka.jpg" class="d-block w-100 figure-img img-fluid rounded heightimg" alt="Second Text" />
                                <div class="text-center heighttitle pt-2 text-white">
                                    TYTUŁ
                                </div>
                                <div class="review">
                                    Smak: 3<br>
                                    Obsługa: 4<br>
                                    Cena: 2
                                </div>
                                <div class="countreviews text-center">
                                    Oceniło 10 użytkowników
                                </div>
                            </figure>
                        </div>
                        <div class="carousel-item">
                            <figure class="figure">
                                <img src="~/image/lody.jpeg" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
                                <div class="text-center heighttitle pt-2 text-white">
                                    TYTUŁ
                                </div>
                                <div class="review">
                                    Smak: 4,5<br>
                                    Obsługa: 5<br>
                                    Cena: 4
                                </div>
                                <div class="countreviews text-center">
                                    Oceniło 10 użytkowników
                                </div>
                            </figure>
                        </div>
                        <div class="carousel-item">
                            <figure class="figure">
                                <img src="~/image/hamburger.jpeg" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
                                <div class="text-center heighttitle pt-2 text-white">
                                    TYTUŁ
                                </div>
                                <div class="review">
                                    Smak: 5 <br>
                                    Obsługa: 4 <br>
                                    Cena: 4
                                </div>
                                <div class="countreviews text-center">
                                    Oceniło 10 użytkowników
                                </div>
                            </figure>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="d-none d-sm-block">
        <div class="row">
            <div class="col-6 col-lg-3 mt-5 popular">
                <figure class="figure">
                    <img src="~/image/kebab.jpg" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
                    <div class="text-center heighttitle pt-2 text-white">
                        TYTUŁ
                    </div>
                    <div class="review">
                        Smak: 4<br>
                        Obsługa: 3<br>
                        Cena: 4
                    </div>
                    <div class="countreviews text-center">
                        Oceniło 10 użytkowników
                    </div>
                </figure>
            </div>
            <div class="col-6 col-lg-3 mt-5 popular">
                <figure class="figure">
                    <img src="~/image/zapiekanka.jpg" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
                    <div class="text-center heighttitle pt-2 text-white">
                        TYTUŁ
                    </div>
                    <div class="review">
                        Smak: 3<br>
                        Obsługa: 4<br>
                        Cena: 2
                    </div>
                    <div class="countreviews text-center">
                        Oceniło 10 użytkowników
                    </div>
                </figure>
            </div>
            <div class="col-6 col-lg-3 mt-5 popular">
                <figure class="figure">
                    <img src="~/image/lody.jpeg" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
                    <div class="text-center heighttitle pt-2 text-white">
                        TYTUŁ
                    </div>
                    <div class="review">
                        Smak: 4,5<br>
                        Obsługa: 5<br>
                        Cena: 4
                    </div>
                    <div class="countreviews text-center">
                        Oceniło 10 użytkowników
                    </div>
                </figure>
            </div>
            <div class="col-6 col-lg-3 mt-5 popular">
                <figure class="figure">
                    <img src="~/image/hamburger.jpeg" class="figure-img img-fluid rounded heightimg" alt="Alternate Text" />
                    <div class="text-center heighttitle pt-2 text-white">
                        TYTUŁ
                    </div>
                    <div class="review">
                        Smak: 5 <br>
                        Obsługa: 4 <br>
                        Cena: 4
                    </div>
                    <div class="countreviews text-center">
                        Oceniło 10 użytkowników
                    </div>
                </figure>
            </div>
        </div>
    </div>

</div>