@{
    ViewBag.Title = "Wyniki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12 h-max">
        <h1 class="titleH1">@ViewBag.Title</h1>
        <div class="notification">
            @Html.Partial("_Notifications")
        </div>
    </div>
</div>