@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
}

<div class="role-div">
    <h2>Panel Administacyjny</h2>
    <hr />
    <div class="buttonRole">
        @Html.ActionLink("Zarządzaj użytkownikami", "UserList", "User", null, new { @class = "btn btn-primary" })
        <hr />
    </div>
</div>